* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

html, body {
  width: 100%;
  height: 100%;
  color: white;
  font-family: saloni;
  background-color: black;
}
@font-face {
  font-family: saloni;
  src: url(/BebasNeue-Regular.ttf);
}
.hero {
width: 100%;
height:100%;
background-color: black;
padding: 20px 30px;

}
header {
  height: 10%;
  width: 100%;
}
.left {
  height:100%;
  width: 50%;
}
.semi-circle {
  height: 50px;
  width: 100px;
  background-color: white;
  border-top-right-radius:  40px;
  border-bottom-right-radius:  40px;
  margin-left: 40px;

}
.left h1{
margin-left:20%;
  margin-top: -5%;
  font-size: 22px;
  font-weight: 400;
  font-family: saloni;
  line-height: 1;
  color: white;
}
.right {
  height: 100%;
  width: 50%;
color: white;
  margin-left: 50%;
  margin-top: -3%;

}
.right p{
  margin-left: 60%;
  margin-top: -1%;
  color: white;
  font-size: 20px;
}
.hero .heading{
    font-family: saloni;
    color: white;
     font-size: 150px;
     font-family: saloni;
     margin-left: 200px;
     margin-top: 40px;
     letter-spacing: 5px;
}
.p-section {
  color:white;
 
}
.p-section p{
  width: 40%;
   margin-top: -1%;
}
.p-section p:nth-child(2){
 margin-top: -2%;
margin-left: 50%;
  width: 35%;
}
.p-section p:nth-child(3){
 margin-left: 85%;
   font-size: 20px;
 text-transform: uppercase;
  text-decoration: underline;
   background-color: transparent;
  color: white;
  border: none;
   margin-top: -2%;
}
.big-semi-circle{
  width: 900px;
  height: 280px;
  background-color: white;
  border-top-right-radius: 150px;
  border-bottom-right-radius: 150px;
 margin-top: 1.5%;
 margin-left:-5%;
}
